@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primaryBackground: #ffffff;
  --color-secondaryBackground: #000000;

  --color-textPrimary: #000000;
  --color-textSecondary: #ffffff;
}
